{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block page %}
    {% if error %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong>{{ error }}
        </div>
    {% endif %}
    <div class="panel-body">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ article.media }}
            {% bootstrap_field article.title %}
            {% bootstrap_field article.category %}
            <label class="control-label">Опис статті</label>
            <br>
            <div class="editor__description">{{ article.description }}</div>
            {% bootstrap_field article.status %}
            {% bootstrap_field article.photo %}
            <button class="btn btn-success" type="submit">Обновити</button>
            <a href="{% url 'delete-article' delete_article.id %}" class="btn btn-danger pull-right">Вдалити</a>
        </form>

    </div>

{% endblock %}